{{#if carrito.length }}
    <div>
        <button class="btn-close" id="btn-close"><img src="../img/productos/cerrar.svg"></button>
    </div>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Foto</th>
            <th>Cantidad</th>
            <th>Envio</th>
            <th>Acción</th>
        </tr>

        {{#each carrito}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{precio}}</td>
            <td>{{marca}}</td>
            <td>
                <img style="display:block; margin: 0 auto;" src="{{foto}}" width="50" alt="{{nombre}}">
            </td>
            <td>{{cantidad}}</td>
            
            {{#if envio}}
                <td>Si</td>
            {{else}}
                <td>No</td>
            {{/if}}
            
            <td>
                <button class="btn__borrarCarrito" onclick="carritoController.borrarProductoCarrito('{{id}}')">borrar</button>
            </td>
        </tr>
         {{/each}}
    </table>
    <button class="btn__enviarCarrito" onclick="carritoController.enviarCarrito()">Enviar</button>
{{else}}
    <div>
        <button class="btn-close" id="btn-close"><img src="../img/productos/cerrar.svg"></button>
    </div>
    <h2 class="carrito_vacio">El carrito está vacío</h2>
    <img class="imagen_vacia-Carrito" src="../img/productos/carrito_vacio.svg">
{{/if}}

